# The following files will be ignored for deployment
testing/**
battleships/__pycache__/**
.vscode/

# Files only required for local deployment:
.env
node_modules/**
index.js.json
package-lock.json
venv/

# Ignoring temp files
tmp/*